<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Portfolio en HTML</h1>
                <p>Un portfolio creado con HTML, CSS y un poco de JS.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto" >
            </div>
        </div>
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Machi VR UX</h1>
                <p>Miembro del grupo de UX para el proyecto MACHIVR</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/machivr.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>