<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> ¡Hola! Soy Iván Bevaqua, tengo 26 años y soy diseñador UI UX y estoy tratando de conseguir el certificado de programador FullStack. Tengo experiencia en educación, ya que casi me recibo de profesor de primaria. </p>
        </span>
    </div>
</div> 

